@{
    ViewBag.Title = "Azure Bench";
}
<h1>Supported Services</h1>
<ul>
    <li>@Html.ActionLink("DocumentDb", "Index", "DocumentDb")</li>
    <li>@Html.ActionLink("Redis Cache", "Index", "RedisCache")</li>
    <li>@Html.ActionLink("Service Bus", "Index", "ServiceBus")</li>
</ul>