@model WebPortal.Controllers.SubmitToRedisCache

@{
    ViewBag.Title = "Azure Bench - Redis Cache";
}

<h2>Redis Cache</h2>

@using (Ajax.BeginForm("SubmitToRedisCache", "RedisCache", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "result" }))
{
    @Html.EditorForModel()
    <br/>
    <input type="submit" value="Submit Cache Items" />
}
<br/>
<div style="white-space: pre-line" id="result"></div>